:root{
    --primary-bg-color:#00E676;
    --secondary-bg-color:white;

}
/* container  */
#container{
    position: absolute;
    background-color:#00E676;
    width: 100%;
    height: 100vh;
}
/* image */
#image{
    align-items: center;
    margin-top: 6em;
    margin-left: 28em;
}
/* Start button */
#start{
    position: relative;
    align-items: center;
    border-radius: 40px ;
    border-width: 5px;
    border-color: white;
    color:white;
    margin-left: 28em;
    margin-top: 2em;
    width: 8em;
    height: 3em;
}

@media only screen and (max-width: 960px) {
    #image{
        margin-left: 10em;
        width: 70%;
        height: auto;
    }
    #start{
        margin-left:14em;
        width: 5.5em;
        height:2.8em;
    }

}
@media only screen and (max-width: 960px)and (min-width:915px) {
    #image{
        margin-left: 14em;
        width: 65%;
        height: auto;
    }
    #start{
        margin-left:17em;
        width: 5.5em;
        height:2.8em;
    }

}
@media  screen and (max-width: 830px){
    #image{
        margin-left: 8em;
        width: 100%;
        height: auto;
    }
    #start{
        margin-left: 8em;
        width: 6em;
        height: 3em;
    }

}
@media  screen and (max-width: 829px) and (min-width:781px) {
    #image{
        margin-left: 12em;
        width: 50%;
        height: auto;
    }
    #start{
        margin-left: 14em;
        width: 5.5em;
        height: 2.7em;
    }

}
@media  screen and (max-width: 780px) {
    #image{
        margin-left: 8em;
        width: 70%;
        height: auto;
    }
    #start{
        margin-left: 12em;
        width: 6em;
        height: 3em;
    }

}
@media  screen and (max-width: 720px) {
    #image{
        margin-left: 6em;
        width: 60%;
        height: auto;
    }
    #start{
        margin-left:10em;    
        width: 5.5em;
        height: 2.8em;
    }
    #start,h3{
        font-size: 20px;

    }


}
@media   screen and (max-width: 500px) {
    #image{
        margin-left: 6em;
    }
    #start{
        margin-left: 10em;
    }

}
@media screen and (max-width: 300px) {
    #image{
        margin-left: 0em;
        width: 100%;
        height: auto;
    }
    #start{
        border-radius: 30px ;
        border-width: 3px;
        margin-left: 4em;
        width: 5em;
        height: 2.5em;
    }
    #start,h3{
        font-size: 20px;

    }

}
