
  #time{
      float:inline-end;
      margin-left:25em;
      font-weight: bold;
      font-size: 3vw;
  }
  #section-number{
      float: inline-start;
      font-weight: bold;
      font-size: 3vw;
  }
  #num,#end-num{
      margin-top: 5em;
      font-weight: bold;
      font-size: 2vw;
  } 
  #number{
      margin-top: 10px;

  }
  #img-backward{
      width: 30px;
      height: 30px;
      border-radius:50%;
      border-color: darkgray;
      margin-left:35px;
  }
  #img-forward{

        width: 30px;
        transform: rotate(180deg);
        height: 30px;
        border-radius:50%;
        border-color:black;
        margin-left:30px;
  }
  #question{
      flex-flow: row;
      margin-top: 2%;
      font-size: 2.5vw;
  }
 
  #option1{
      width: 20rem;
      height: 7vh;
      border:2px solid #2294F3;
      border-radius: 15px;
      background-color:#CFD8DC;
      margin-top: 70px;
      text-align: center;
      cursor: pointer;
  }
  #option2,#option3,#option4{
    width: 20rem;
    height: 7vh;
    border:2px solid #2294F3;
    border-radius: 15px;
    background-color:#CFD8DC;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}
#submitButton,#sectionButton{
    width: 8rem;
    height: 8vh;
    margin-top:5%;
    margin-right: 3%;
    border-radius: 10%;
    margin-bottom: 5%;
    cursor: pointer;
}

@media only screen and (max-width: 1200px){
    #time{
        float:inline-end;
        margin-left:20em;
        font-weight: bold;
        font-size: 3vw;
    }
    #section-number{
        float: inline-start;
        font-weight: bold;
        font-size: 3vw;
    }
}
@media only screen and (max-width: 1125px) and (min-width:961px) {
    #time{
        float:inline-end;
        margin-left:20em;
        font-weight: bold;
        font-size: 3vw;
    }
    #section-number{
        float: inline-start;
        font-weight: bold;
        font-size: 3vw;
    }
}
@media only screen and (max-width: 960px){
    #time{
        float:inline-end;
        margin-left:25em;
        font-weight: bold;
        font-size: 3vw;
    }
    #section-number{
        float: inline-start;
        font-weight: bold;
        font-size: 3vw;
    }
    #submitButton,#sectionButton{
        width: 10rem;
        height: 8vh;
        margin-top:5%;
        margin-right: 3%;
        border-radius: 10%;
        margin-bottom: 5%;
        cursor: pointer;
    }
}
@media only screen and (max-width: 960px)and (min-width:780px) {
    #time{
        float:inline-end;
        margin-left:20em;
        font-weight: bold;
        font-size: 3vw;
    }
    #section-number{
        float: inline-start;
        font-weight: bold;
        font-size: 3vw;
    }
    #submitButton,#sectionButton{
        width: 10rem;
        height: 8vh;
        margin-top:5%;
        margin-right: 3%;
        border-radius: 10%;
        margin-bottom: 5%;
        cursor: pointer;
    }
}
@media  screen and (max-width: 793px) and (min-width:620px){
    #time{
        float:inline-end;
        margin-left:20em;
        font-weight: bold;
        font-size: 3vw;
    }
    #section-number{
        float: inline-start;
        font-weight: bold;
        font-size: 3vw;
    }
}
@media  screen and (max-width: 633px) and (min-width:460px){
    #time{
        float:inline-end;
        margin-left:20em;
        font-weight: bold;
        font-size: 3vw;
    }
    #section-number{
        float: inline-start;
        font-weight: bold;
        font-size: 3vw;
    }
}
@media  screen and (max-width: 473px) and (min-width:350px){
    #time{
        float:inline-end;
        margin-left:20em;
        font-weight: bold;
        font-size: 3vw;
    }
    #section-number{
        float: inline-start;
        font-weight: bold;
        font-size: 3vw;
    }
}
@media  screen and (max-width: 394px) and (min-width:240px){
    #time{
        float:inline-end;
        margin-left:20em;
        font-weight: bold;
        font-size: 3vw;
    }
    #section-number{
        float: inline-start;
        font-weight: bold;
        font-size: 3vw;
    }
}


