.main{
    display: grid;
    grid-template-columns: 10% 80% 10%;

}






























/* 

  #time{
      float:inline-end;
      margin:0 0 0 69em;
      font-weight: bold;
  }
  #section-number{
      margin: 1em 0 0 0;
      float: inline-start;
      font-weight: bold;
      
  }
  #submitButton,#sectionButton{
      width:6em;
      height: 2em;
      margin:15px 0 0 0;
      background-color:mediumspringgreen;
  }
  
  #num{
      margin-top: 1em;
  } 
  #number{
      margin-top: 10px;

  }
  
  #img-backward{
 
      margin:0 0 0 1.5em;
      cursor: pointer;
  }
  #img-forward{
       
        margin:0 0 0 1em;
        cursor: pointer;
  }
  #sectionButton{
    margin:0 0 0 75em;
}   
  #question{
      flex-flow: row;
      
  }
  #opt1,#opt2,#opt3,#opt4{
      margin:0 0 0 15px;
  }
  #option1{
      width: 18em;
      height: 3.5em;
      align-content: center;
      border:2px solid slategray;
      border-radius: 25px;
      background-color:white;
      margin: 40px 0 0 0;
  }
  #option2,#option3,#option4{
    width: 18em;
    height: 3.5em;
    align-content: center;
    border:2px solid  slategray;
    border-radius: 25px;
    background-color:white;
    margin: 30px 0 0  0;

}
@media only screen and (max-width: 1200px){
    #time{
        float:inline-end;
        margin-left:65em;
    }
    #section-number{
        float: inline-start;
        
    }
   
    #sectionButton{
        margin:0 0 0 59em;
    }
}
@media only screen and (max-width: 1125px) and (min-width:961px) {
    #time{
        float:inline-end;
        margin-left:52em;
    }
    #section-number{
        float: inline-start;
        
    }
   
}
@media only screen and (max-width: 960px){
    #time{
        float:inline-end;
        margin-left:50em;
    }
    #section-number{
        float: inline-start;
        
    }
    #sectionButton{
        margin:0 0 0 47.5em;
    }
}
@media only screen and (max-width: 960px)and (min-width:730px) {
    #time{
        float:inline-end;
        margin-left:40em;
    }
    #section-number{
        float: inline-start;
        
    }
    #sectionButton{
        margin:0 0 0 37em;
    }
}
@media  screen and (max-width: 793px) and (min-width:620px){
    #time{
        float:inline-end;
        margin-left:30em;
    }
    #section-number{
        float: inline-start;
        
    }
    
}
@media  screen and (max-width: 633px) and (min-width:560px){
    #time{
        float:inline-end;
        margin-left:20em;
    }
    #section-number{
        float: inline-start;
        
    }
    #sectionButton{
        margin:0 0 0 27em;
    }
}
@media  screen and (max-width: 473px) and (min-width:350px){
    #time{
        float:inline-end;
        margin-left:10em;
    }
    #section-number{
        float: inline-start;
        
    }
    #sectionButton{
        margin:0 0 0 18em;
    }
}
}
@media  screen and (max-width: 394px) and (min-width:240px){
    #time{
        float:inline-end;
        margin-left:3em;
    }
    #section-number{
        float: inline-start;
        
    }
   
   
}
@media  screen and (max-width: 360px) and (min-width:240px){
    #time{
        float:inline-end;
        margin-left:6em;
    }
    #section-number{
        float: inline-start;
        
    }
    #img-backward{
 
        margin:0 0 0 1em;
        cursor: pointer;
    }
    #img-forward{
         
          margin:0 0 0 0em;
          cursor: pointer;
    }
    #sectionButton{
        margin:0 0 0 4em;
    }
} */
