#container{
    background-color: #ffffff;
    height: 50vh;
    align-items: center;
    text-align: center;
}


#htm{
    height: 25vh;
    width: 20%;
    margin:5% 0 0 15%;
    /* margin-top: 5%; */
    border-radius: 5%;
    background-color: #F0F0F0;
    border: 2px solid #00E676;
    /* margin-left: 15%;  */
    text-align: center;
    cursor: pointer;
}


#cs,#jst{
    height: 25vh;
    width: 20%;
    margin-top: 5%;
    border-radius: 5%;
    border: 2px solid #00E676;
    background-color: #F0F0F0;
    margin-left: 5%;
    text-align: center;
    cursor: pointer;
}

#sectionImage{
    /* position: absolute; */
    object-fit:contain;
    height:100%;
    width: 100%;
}

 #sectionTitle{
    font-size: 3vw;

}

#language{
    font-size: 2.5vw;
    align-items: center;

} 

#icon{
    
    height: 3.8vh;
    margin:0 0 0.2em 0;
    
}

#iconJs{
    height: 4.8vh;
    margin:0 0 0.1em 0;
    
}

/*ipad*/
@media screen and (max-width: 1024px){
    #sectionsList
    {
        display:inline;
    }
    #htm,#cs,#jst{
        height: 10vh;
        width: 40%;
        margin-top: 5%;
        border-radius: 5%;
        background-color: #F0F0F0;
        border: 2px solid #00E676;
        margin-left: 30%; 
        text-align: center;
        cursor: pointer;
    }
       
}


@media screen and (max-width: 768px){
    #sectionsList
    {
        display:inline;
    }
    #htm,#cs,#jst{
        height: 10vh;
        width: 40%;
        margin-top: 5%;
        border-radius: 5%;
        background-color: #F0F0F0;
        border: 2px solid #00E676;
        margin-left: 30%; 
        text-align: center;
        cursor: pointer;
    }
         
}

@media only screen and (max-width: 768px) and (orientation:landscape) {
    #sectionsList
    {
        display:inline;
    }
    #htm,#cs,#jst{
        height: 20vh;
        width: 35%;
        margin-top: 5%;
        border-radius: 5%;
        background-color: #F0F0F0;
        border: 2px solid #00E676;
        margin-left: 30%; 
        text-align: center;
        cursor: pointer;
    }
       
    }

    
@media only screen and (max-width: 1024px) and (orientation:landscape) {
    #sectionsList
    {
        display:inline;
    }
    #htm,#cs,#jst{
        height: 20vh;
        width: 40%;
        margin-top: 5%;
        border-radius: 5%;
        background-color: #F0F0F0;
        border: 2px solid #00E676;
        margin-left: 30%; 
        text-align: center;
        cursor: pointer;
    }
       
    }