body{
    background-color: #EEEEEE;
    margin:0;
}

#container{
    background-color: #ffffff;
    height: 18vh;
    align-items: center;
    text-align: center;
}

#dashboard{
    font-size: 5vw;
    height: 20vh
}

@media only screen and (max-width: 479px){
    #listContainer
    { 
        display: inline;
    }
}
#javaScript{
    height: 35vh;
    width: 30%;
    margin-top: 10%;
    border-radius: 5%;
   background-color: #ffffff;
   margin-left: 2%;
}

#python{
    height: 35vh;
    width: 30%;
    margin-top: 10%;
    border-radius: 5%;
   background-color: #ffffff;
   margin-left: 3%;
}

#java{
    height: 35vh;
    width: 30%;
    margin-top: 10%;
    border-radius: 5%;
   background-color: #ffffff;
   margin-left: 3%;
}


@media only screen and (max-width: 479px){
    #javaScript,#python,#java{
        height: 20vh;
        width: 20rem;
        background-color: #ffffff;
       
    }
}

#takeTest{
color: #BDBDBD;  
font-size: 2vw;
margin-left: 5%;
}

#programTitle{
 /* text-align: center; */
 margin-left: 5%;
 font-size: 3vw;
 margin-top: 3%;
}

#button{
    background-color: #00E676;
    margin-left: 30%;
    margin-top: 5%;
    /* height: 7vh; */
    width: 10rem;
    height: 8vh;
    font-size: 1.5vw;
    color: #ffffff;
    border-color: #00E676;
    border-radius: 5%;
}